.timeline-container {
  margin: 20px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.timeline-label {
  font-weight: bold;
  color: #007bff;
}

.timeline-dot {
  background-color: #007bff;
  color: white;
}

.timeline-container .MuiTimelineOppositeContent-root {
  display: flex;
  align-items: center;
}

.timeline-container .MuiTimelineItem-root {
  min-width: 200px;
  margin-bottom: 30px;
}

.MuiTimelineContent-root {
  display: flex;
  align-items: center;
}
